
.navpo{
    position: fixed; 
    z-index: 30; 
    width: 100%;
}
#contact{
    background-color: aquamarine;
}
#content{
    background: linear-gradient(90deg,rgba(2,0,36,1) 0%,rgba(30,49,80,1) 35%,rgba(99,64,143,1) 98%);
}
.card{
    height: 450px;
}
.card:hover{
    box-shadow: 0px 0px 80px 0px rgba(167, 71, 71, 0.75);
    transition: all .5s ease-in-out; 
    transform: scale(1.05);
}
.btn{
    font-family: 'Acme', sans-serif; 
    font-size: larger;
    
}
.counter{
    background: linear-gradient(135deg,#65799B,#5E2563);

    color: rgb(160, 130, 33);
}

